body, head {
  font-family: Arial, sans-serif;
}
.sublinhado {
  text-decoration: underline;
}
.riscado {
  text-decoration: line-through;
}
.center {
    text-align: center;
}
#rodape {
    text-align: center;
    font-size: 14px;
    color: #555; 
    margin-top: 40px;     /* espaço acima do footer */
}