body, head {
  font-family: Arial, sans-serif;
}
.sublinhado {
  text-decoration: underline;
}
.riscado {
  text-decoration: line-through;
}
.center {
    text-align: center;
}
#rodape {
    text-align: center;         /* centraliza o texto */
    font-size: 14px;            /* tamanho do texto */
    color: #555;                /* cor cinza discreta */
    margin-top: 40px;           /* espaço acima do footer */
}