body {
    font-family: Arial, sans-serif;
    background-color: #ca9bc0;
    text-align: center;
    padding: 200px;
}

button {
    padding: 10px 20px;
    background-color: #dbbe3b;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #b37400;
}
